
<div class="row">

	<div class="col-sm-8">
		<h2>Log in to Your Account</h2>

		<%=form_tag "/sessions" do %>
			<div class="row">
		    	<div class="col-sm-1 text-left"><%=label_tag (:email)%></div>
		    	<div class="col-sm-11"><%=text_field_tag (:email)%></div>
			</div>

			<div class="row">
		    	<div class="col-sm-1 text-left"><%=label_tag (:password)%></div>
		    	<div class="col-sm-11"><%=text_field_tag (:password)%></div>
		    </div>

		    <div class="col-sm-12 text-left">
		    	<%=submit_tag ("Log In")%>
		    </div>
		<% end %>
	</div>

	<div class="col-sm-4">
		<h2>Create an Account</h2>
		<p>Sign up <a href="/users/new">here</a>!</p>
	</div>

</div>
