<h2>Sign up for a new account</h2>

<%= form_for User.new do |f| %>
<%= f.label :fname, "First Name: " %>
<%= f.text_field :fname %>

<%= f.label :lname, "Last Name: " %>
<%= f.text_field :lname %> <br>

<%= f.label :street, "Street Address: " %>
<%= f.text_field :street %>

<%= f.label :city, "City: " %>
<%= f.text_field :city %> <br>

<%= f.label :email, "Email: " %>
<%= f.text_field :email %>

<%= f.label :password, "Password: " %>
<%= f.text_field :password %> <br>

<%= f.label :ccnum, "Credit Card Number: " %>
<%= f.text_field :ccnum, placeholder: "xxxx-xxxx-xxxx-xxxx"%> <br>

<%= f.label :cctype, "Credit Card Company: " %>
<%= f.text_field :cctype %> <br>

<%= f.submit %>

<% end %>