<h2>Welcome, <%= @user.fname %>!</h2>

<% if current_user %>
	<%= form_tag '/sessions/destroy' do%>
	<%= submit_tag ("Log Out") %>
	<% end %>

	<h4><%= @user.fname %>
	<%= @user.lname %></h4>
	<p>Email Stuff: <%= @user.email %>
	<%= @user.password %></p>
	<p>Credit Card Info: <%= @user.ccnum %>
	<%= @user.cctype %></p>
	<p>Address: <%= @user.street %>,
	<%= @user.city %></p>
	
	<p><a href='/users/<%= "#{session[:user_id]}" %>/edit'>Edit Your Account</a></p>

  <h3>Your Cart</h3>
  	<% total = 0.00 %>
	<% @cart.products.each do |product| %>
		<% total += product.price.to_f %>
		<div>
<!-- 		<img src="<%= product.image %>"> -->
		<%= product.pname %>
		<%= product.price %>
		
		<%= form_tag "/carts/delete_from_cart/" do %>
			<%= hidden_field_tag :product_id, product.id %>
			<%= submit_tag ("Remove from Cart")%>
		<% end %>
		</div>
	<% end %>
	<p>Shipping: FREE!</p>
	<h3>Total: $<%= total.round(2) %></h3>
		<%= form_tag "/carts/check_out/" do %>
		<%= submit_tag ("Buy It Now!")%>
		<% end %>

  <h3>Your Wishlist</h3>
	<% @wishlist.products.each do |product| %>
		<%= product.pname %>
		<%= product.price %>
		<img src="<%= product.image %>">

		<%= form_tag "/wishlists/delete_from_wishlist/" do %>
			<%= hidden_field_tag :product_id, product.id %>
	  		<%= submit_tag ("Remove from Wishlist")%>
		<% end %>
	<% end %>

<% end %>