<h2>Products Index: All Products</h2>
<h3>Search box here</h3>
<% @products.each do |product| %>
	<div style="float:left;padding:5px">
	<h4><%= product.pname %></h4>
	<p>Price: $<%= product.price %></p>
	<img src="<%= product.image %>">
	
	<%= form_tag '/wishlists/add_to_wishlist' do %>
	<%= hidden_field_tag :product_id, product.id %>
	<%= submit_tag ("Add to Wishlist")%>
	<% end %>
	
	<%= form_tag '/carts/add_to_cart' do %>
	<%= hidden_field_tag :product_id, product.id %>
	<%= submit_tag ("Add to Cart")%>
	<% end %>
	
	</div>
<% end %>