<!DOCTYPE html>
<html>
  <head>
    <title>Sundry Detritus Emporium</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>Sundry Detritus Emporium</h1>
  
  <%= form_tag(products_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Products" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

  <a href="/products">Our Products</a>
  <% if !current_user %>
    <a href="/users">Log in or Sign up</a>
  <% end %> 
  <% if current_user %>
  	<a href="/users/<%= "#{session[:user_id]}" %> ">Your Account</a>
  <% end %>

  <% if !current_user %>
    <h2>Log in to Start Shopping</h2>
  <% end %> 
  
    <%= yield %>



  </body>
</html>
