<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>Oh, hi! I'm a Store</h1>
  <a href="/products">View All Products</a>
  <a href="/users">View All Users</a>
  <a href="/wishlists">Wishlist</a>
  <a href="/carts">Shopping Cart</a>

    <%= yield %>

    <% if current_user %>
    	<a href="/users/<%= "#{session[:user_id]}" %> ">Your Profile Maybe</a>
    <% end %>

  </body>
</html>
