<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>Oh, hi! I'm a Store</h1>
  <a href="/products">View All Products</a>
  <% if !current_user %>
    <a href="/users">Log in or Sign up</a>
  <% end %> 
  <% if current_user %>
  	<a href="/users/<%= "#{session[:user_id]}" %> ">See Your Stuff</a>
  <% end %>
    <%= yield %>



  </body>
</html>
